# Copyright (c) 2020 Ryan Cross
# SPDX-License-Identifier: MIT

if SHIELD_JSKB_LEFT

config ZMK_KEYBOARD_NAME
    default "jskb"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_JSKB_LEFT || SHIELD_JSKB_RIGHT

config ZMK_SPLIT
    default y

endif